* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #71432cc7;
}

.wrapper {
  width: 80vmin;
  padding: 50px 40px;
  background-color: #15161a;
  position: absolute;
  transform: translate(-50%);
}
